<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trintadias.semfumar">

    <application
        android:label="30 Dias Sem Fumar"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name="android.app.Activity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
